<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Travel Tales</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/static/base.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8">
            <img  id="heart" src='http://www.johnboccio.com/quotes/IheartQuote580x300.jpg'>
        </div>
        <div class="col-md-4 col-md-offset-8">
        <img id="movie" src='http://www.jammadesigns.com/media/home.theater.decor.Movie.Ticket.jpg'>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-2">
        <h3>Share your favorite movie quote!</h3>
        </div>
      </div>
    </div> 
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <form class="form-group form-inline" id="newPost">
            <input class="form-control" id="title" type="text" name="location" placeholder="Movie title...">
            <input class="form-control" style="width:680px" id="movieQuote" type="text" name="description" placeholder="Quote...">
            <input class="btn btn-primary" id="submitQuote" type="submit" value="Post">
          </form> 
          <ul class="posts list-group">
            <% posts.forEach(function(post) { %>
            <li class="post"><strong><font size='5'><%= post.location %>:</font></strong> <br><%= post.description %><br><button><img id="like" data-id="<%= post._id %>" src="http://iconfever.com/images/portfolio/thumbs/freephotoshoptutorials.org-heart-icon.jpg"></button><small> <%=post.likeCount%> likes</small><span data-id="<%= post._id %>" class='close delete'>X</span></li>
            <%}); %>
          </ul>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" id="fail" role="dialog">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <br>
          <h2>Nothing to post<br><br><button type="button" class="btn btn-default pull-right" data-dismiss="modal">Close</button><br></h2>
        </div>
      </div>
    </div>
  </body>
</html>









